@use '../variables' as v;

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: v.$primary;
  padding-top: 95px;
  text-align: center;
  font-weight: 500;

  & * {
    margin-bottom: 115px;
  }

  &__title {
    font-size: 6em;
  }

  &__message {
    font-size: 1.125em;
    padding: 0 20px;
  }

  &__link {
    font-size: 0.875em;
    color: black;
    text-decoration: underline;
  }
}

@media (min-width: 1024px) {
  .errorPage {
    & * {
      margin-bottom: 140px;
    }

    &__title {
      font-size: 18em;
    }

    &__message {
      font-size: 2.25em;
    }

    &__link {
      font-size: 1.125em;
    }
  }
}
